<%  // If a post is being displayed, work out the prev and next posts
    var isPost = current.path[0] === 'posts' && current.path[1] !== 'index';
    if (isPost) {
        var posts = Object.keys(public.posts._data).reverse();
        var index = posts.indexOf(current.source);
        var prevPost = posts[index - 1] || false;
        var nextPost = posts[index + 1] || false;
    }
%><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="https://plus.google.com/u/0/106652029485012349674">
    <meta name="description" content="<%= description %>">
    <title><% if (typeof title !== 'undefined') { %><%= title %> | <% } %><%= name %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <% if (prevPost) { %><link rel="prev" href="/posts/<%= prevPost %>" /><% } %>
    <% if (nextPost) { %><link rel="next" href="/posts/<%= nextPost %>" /><% } %>
    <script type="text/javascript" src="/javascripts/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/pjg7hsj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <div role="container">
        <header role="banner">
            <% if (isPost) { %>
                <a href="/" rel="home" class="site-name"><%= name %></a>
                <h1 class="article-title"><%= title %></h1>
            <% } else { %>
                <h1><a href="/" rel="home"><%= name %></a></h1>
            <% } %>
        </header>
        <main>
            <%- yield %>
            <nav class="posts-nav">
                <% if (nextPost) { %>
                    <b>Next post:</b> <a href="/posts/<%= nextPost %>"><%= public.posts._data[nextPost].title %></a><br>
                <% } %>
                <% if (prevPost) { %>
                    <b>Previous post:</b> <a href="/posts/<%= prevPost %>"><%= public.posts._data[prevPost].title %></a>
                <% } %>
            </nav>
        </main>
        <footer id="footer">
            <small>&copy; <%= new Date().getFullYear() %></small>
            <a href="/about">About</a>
            <a href="/colophon">Colophon</a>
            <a class="twitter-follow-button" href="https://twitter.com/blacklionchest" data-show-count="false">Follow @blacklionchest</a>
        </footer>
    </div>
    <script type="text/javascript">
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-41267375-2', 'blacklionchest.co.uk');
        ga('send', 'pageview');
    </script>
</body>
</html>
