<article itemscope itemtype="http://schema.org/BlogPosting">
  <div id="masthead">
    <h1 class="article-name center h2" itemprop="name"><a rel="bookmark" href="/posts/<%- current.source %>"><%- title %></a></h1>
  </div>
  <div id="content" class="center" itemprop="articleBody">
    <div class="posted-by">Posted by <a href="<%- post.author.link %>" target="_blank" rel="author"><%- post.author.name %></a> on <time itemprop="datePublished"><%- post.published %></time></div>
    <%- yield %>
    <nav class="posts-nav">
      <h2>Read more</h2>
      <ul>
        <% if (nextPost) { %>
          <li>
            <a href="/posts/<%= nextPost %>"><%- public.posts._data[nextPost].title %></a>
            <span class="post-published"><%- public.posts._data[nextPost].published %></span>
          </li>
        <% } %>
        <% if (prevPost) { %>
          <li>
            <a href="/posts/<%= prevPost %>"><%- public.posts._data[prevPost].title %></a>
            <span class="post-published"><%- public.posts._data[prevPost].published %></span>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</article>
