<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 class="article-title" itemprop="name"><a rel="bookmark" href="/posts/<%- current.source %>"><%- title %></a></h1>
        <span class="posted-by">Posted by <b rel="author"><%- post.author %></b> on <time itemprop="datePublished"><%- post.published %></time></span>
    </header>
    <div itemprop="articleBody">
        <%- yield %>
    </div>
</article>
<nav class="posts-nav">
    <% if (nextPost) { %>
        <b>Next post:</b> <a href="/posts/<%= nextPost %>"><%- public.posts._data[nextPost].title %></a><br>
    <% } %>
    <% if (prevPost) { %>
        <b>Previous post:</b> <a href="/posts/<%= prevPost %>"><%- public.posts._data[prevPost].title %></a>
    <% } %>
</nav>
